body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    font-size: 15px;
    line-height: 1.4;
  }
  /* body class for add top space for fix headers */
  .fixed-header {
    padding-top: 80px;
  }
  p {
    font-size: 15px;
    color: #625d5d;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  main {
    display: block;
  }
  
  hr {
    box-sizing: content-box;
    /* 1 */
    height: 0;
    /* 1 */
    overflow: visible;
    /* 2 */
  }
  
  pre {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
  }
  
  a {
    background-color: transparent;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    vertical-align: top;
    color: #000;
  }
  
  a:not(.logo):hover {
    text-decoration: none;
    color: #f1c40f;
  }
  
  abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  code,
  kbd,
  samp {
    font-family: monospace, monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
  }
  
  /**
         * Add the correct font size in all browsers.
         */
  
  small {
    font-size: 80%;
  }
  
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  /**
         * Remove the border on images inside links in IE 10.
         */
  
  img {
    border-style: none;
    max-width: 100%;
  }
  
  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    /* 2 */
  }
  
  button {
    cursor: pointer;
    background: transparent;
    border: 0;
  }
  
  button,
  input {
    /* 1 */
    overflow: visible;
    line-height: 1;
  }
  
  button,
  select {
    /* 1 */
    text-transform: none;
  }
  select:focus,
  button:focus,
  button.active {
    outline: 0 !important;
    box-shadow: none;
    border: none;
  }
  
  /**
         * Correct the inability to style clickable types in iOS and Safari.
         */
  
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    -webkit-appearance: button;
  }
  
  /**
         * Remove the inner border and padding in Firefox.
         */
  
  button::-moz-focus-inner,
  [type="button"]::-moz-focus-inner,
  [type="reset"]::-moz-focus-inner,
  [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
  }
  
  /**
         * Restore the focus styles unset by the previous rule.
         */
  
  button:-moz-focusring,
  [type="button"]:-moz-focusring,
  [type="reset"]:-moz-focusring,
  [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
  }
  
  /**
         * Correct the padding in Firefox.
         */
  
  fieldset {
    padding: 0.35em 0.75em 0.625em;
  }
  
  /**
         * 1. Correct the text wrapping in Edge and IE.
         * 2. Correct the color inheritance from `fieldset` elements in IE.
         * 3. Remove the padding so developers are not caught out when they zero out
         *    `fieldset` elements in all browsers.
         */
  
  legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
  }
  
  progress {
    vertical-align: baseline;
  }
  
  textarea {
    overflow: auto;
  }
  
  [type="checkbox"],
  [type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
  }
  
  /**
         * Correct the cursor style of increment and decrement buttons in Chrome.
         */
  
  [type="number"]::-webkit-inner-spin-button,
  [type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  /**
         * 1. Correct the odd appearance in Chrome and Safari.
         * 2. Correct the outline style in Safari.
         */
  
  [type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    outline-offset: -2px;
    /* 2 */
  }
  
  /**
         * Remove the inner padding in Chrome and Safari on macOS.
         */
  
  [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  /**
         * 1. Correct the inability to style clickable types in iOS and Safari.
         * 2. Change font properties to `inherit` in Safari.
         */
  
  ::-webkit-file-upload-button {
    -webkit-appearance: button;
    /* 1 */
    font: inherit;
    /* 2 */
  }
  
  /*
         * Add the correct display in Edge, IE 10+, and Firefox.
         */
  
  details {
    display: block;
  }
  
  /*
         * Add the correct display in all browsers.
         */
  
  summary {
    display: list-item;
  }
  
  /**
         * Add the correct display in IE 10+.
         */
  
  template {
    display: none;
  }
  
  /**
         * Add the correct display in IE 10.
         */
  
  [hidden] {
    display: none;
  }
  
  /* 
     *  Remove autofill input background color in chrome
    */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  
  *,
  :after,
  :before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
  }
  
  ol {
    padding-left: 20px;
  }
  
  figure {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
  }
  
  .d-flex{
    display: flex;
  }

  .button{
    font-family: Poppins;
    padding: 0.6em 1.5em;
    font-weight: 400;   
    font-size: 1.2rem;
    border: 1px solid black;
    border-radius: 4px;
  }
  .red-button{
    font-family: Poppins;
    padding: 0.6em 1.5em;
    font-weight: 400;   
    font-size: 1.2rem;
    border-radius: 4px;
    color: white;
    background-color: #f9422b;
  }
  .left-section{
    display: flex;
    justify-content: flex-start;
    width: 50%;
  } 
  
  .right-section{
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  .heading{
    color: #000000;
    font-family: Poppins;
    font-size: 31px;
    font-weight: 400;
    margin: auto;
  }
  .main-heading{
    font-family: Poppins;
    font-size: 46px;
    margin: auto;
  }

  .paragraph{
    opacity: 0.8;
    color: #000000;
    font-family: Poppins;
    font-size: 19px;
    font-weight: 400;
}

.greySubheading{
  color: #40454d;
  font-family: Poppins;
  font-size: 37px;
  margin: auto;
}

.greyParagraph{
  color: #686e77;
  font-family: Poppins;
  font-size: 15px;
  line-height: 30px;
}