/* Header Part CSS */
.container {
  width: calc(100%-100px);
  max-width: 1316px;
  margin: 0 auto;
  padding: 54px 161px ;
  /* border:1px solid red; */
}
.succ_img1 {
  margin-right: 32px;
}
.succImg {
  width: 250px;
  height: 70px;
}
.straplogo {
  height: 59px;
  border-left: 2px solid black;
  padding-left: 38px;
  margin-top: 10px;
}
.strapiImg{
  width: 191px;
  height: 50px;
  margin-left: 38px;
}
 /* Section1 */
.card {
  width: 480px; 
  height: 400px;
  margin: auto;
  background-color: #ffffff;
  /* border: 1px solid saddlebrown; */
}
.peximg{
  width: 620px;
  height: 484px;
}  
/* Section2 */
.card1 {
  width: 468px;
  height: 441px;
  background-color: #ffffff;
  /* border: 1px solid saddlebrown; */
  margin: 51px 89px;
}
.manimg{
  width: 400px;
}
.smallCard{
  width: 220px;
  height: 72px;
  background-color: white;
  margin-left: 340px;
  position: absolute;
}  
.topdistance{
  margin-top: 25px;
}
.topdistance1{
  margin-top: 163px;
}
.topdistance2{
  margin-top: 297px;
}
.topdistance3{
  margin-top: 431px;
}
.smallline{
  color: #40454d;
  font-family: "Poppins - Semi Bold";
  font-size: 19px;
  font-weight: 520;
  margin-left: 30px;
  margin-top: 20px;
}
.minibox{    
  width: 51px;
  padding: 26px;
  margin-bottom: 80px;
  background-color: rgb(146, 127, 127);
  margin-top: -37px;
  margin-left: -29px;
}
.commonminiimg{
  width: 51px;
  height: 50px;
  padding: 5px;
  margin-top: 12px;
  margin-left: -27px;
}
.miniimg{ 
  background-color: pink;
}
.miniimg1{    
  background-color: #d7f8ff;
}
.miniimg2{
  background-color: #fff0c4;
}
.miniimg3{  
  background-color: #c9e1ff; 
}
/* Section 3 */
.header-sec{
color: #40454d;
font-family: Poppins;
font-size: 42px;
text-align: center;
margin:auto;
}
.paragraph-sec{
opacity: 0.9;
color: #595c62;
font-size: 22px;
font-family: "Poppins - Bold";
font-weight: 700;
text-align: center;
margin:auto;
}
.paragraph-sec1{
opacity: 0.9;
color: #595c62;
font-size: 22px;
font-family: "Poppins - Regular";
font-weight: 400;
text-align: center;
margin:auto;
}
.sec-card{ 
  width: 248px;
  height: 77px;
  /* border:1px solid yellow */
}
.left-sec-card{
  padding:23px;
  /* border:1px solid red */
}
.right-sec-card{
  padding-top: 19px;
  padding-left: 19px;
}
.colr1{
  background-color: #f4f4fc;
}
.colr2{
  background-color: #eff6fe;
}
.colr3{
  background-color: #eafaf7;
}
.colr4{
  background-color: #eafdf9;
}
.flexproperty{
  display: flex;
    flex-wrap: wrap;
    margin-top: 54px;
    margin-left: -19px;
    margin-right: -64px;
    justify-content: space-between;
}
/* section4 */
.section4{
  background-color: #f7f8fa;
}
.header-section{
  color: #40454d;
  font-family: Poppins;
  font-size: 42px;
  margin:auto;
}
.paragraph-section{
opacity: 0.9;
color: #595c62;
font-size: 22px;
font-family: "Poppins - Regular";
font-weight: 400;
margin:auto;
}
.flex-combination{
  display: flex;
  justify-content: space-between;
}
.card-section{      
  width: 180px;
  height: 182px;
  box-shadow: 2px 2px 100px rgb(201 201 201 / 30%);
  border-radius: 5px;
  background-color: #ffffff;
  /* border: 1px solid green; */
}
.short-line{
  margin-left: 3rem;
    margin-right: 1rem
}
.arrow-button{
  font-size: 31px;
  border-radius: 50%;
  width: 45px;
  height: 44px;
  color: red;
  border: 1px solid red;
}
.align-margin{
  margin: 25px;
  margin-left: 69px
}
/*  section5*/
.img-align{
  margin-left: 3rem;
  margin-top: 3rem;
  border-radius: 9px;
}
.color1{
  background-color: #fde7e7;
}
.color2{
  background-color: #d7f8ff;
}
.color3{
  background-color: #fff0c4;
}
.color4{
  background-color: #c9e1ff;
}
span.text-align {
  display: inline-block;
  margin-top: 3rem;
}
/* section6 */
 .right-card1{
  /* border: 1px solid rgb(180, 11, 39); */
}
.left-card1 {
  margin-left:3rem;
  margin-right:3rem;
  /* border: 1px solid rgb(180, 11, 39); */
}
.margin-left {
  margin-left: 9rem;
}
.small-heading{
  color: #40454d;
  font-family: Poppins;
  font-size: 27px;
  font-weight: 600;
}
.align-button{
  padding: 23px;
}
.align-margin1{
  display: inline-block;
  padding-top: 17px;
}
input[type=text], [type=email] {
  width:50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #f7f8fa;
  border-radius: 5px;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}
/* section7 */
.left-card {
  margin: auto;
}
.right-section1 {
  margin-left: 11rem;
}
.dot {    
  height: 11px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  margin-left: 2px;
  display: inline-block;;
}
.reddot {    
  height: 11px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
  margin-left: 2px;
  display: inline-block;;
}
.marginleft {
  margin-left: 8rem;
}
/* Section8 */
.section8 {
  display: flex;
  justify-content: center;
  background-color: #f7f8fa;
  padding: 21px;
}
/* Footer */
.footer {
  background-color: black;
}
.fa {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  margin: 5px 2px;
  border-radius: 50%;
  width: 50px;
  -moz-osx-font-smoothing: grayscale;
  line-height: 50px;
  margin-right: 10px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: black;
  color: white;
  border: 2px solid white;
}
.fa-twitter {
  background: black;
  color: white;
  border: 2px solid white;
}
.fa-google {
  background: black;
  color: white;
  border: 2px solid white;
}
.fa-instagram {
  background: black;
  color: white;
  border: 2px solid white;
}  
.bold{
  color:white
}  
.section2{
  margin-left: 8rem;
}
.section3{
  margin-left: 8rem;
}
.text-font{
color: #9e9e9e;
font-family: "Poppins - Semi Bold";
}
.hori {
width: 780px;
height: 1px;
background-color: #ffffff;
opacity: 0.2;
}
p.align-center {
  display: flex;
  justify-content: center;
}
.email1 {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  color: white;
  background-color: black;
  border-radius: 5px;
}